[submodule "meta-clusterctrl"]
	path = meta-clusterctrl
	url = git@github.com:ihatetoregister/yocto-pi-cluster.git
[submodule "meta-rpi"]
	path = meta-rpi
	url = git://github.com/jumpnow/meta-rpi
	branch = dunfell
