[submodule "meta-clusterctrl"]
	path = meta-clusterctrl
	url = https://github.com/ihatetoregister/meta-clusterctrl.git
	branch = main
[submodule "meta-rpi"]
	path = meta-rpi
	url = https://github.com/jumpnow/meta-rpi.git
	branch = dunfell
